@model IEnumerable<UsuarioMVC.ServicioUsuario.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  nombre=item.nombre  }) |
            @Html.ActionLink("Detalles", "Details", new {  nombre=item.nombre }) |
            @Html.ActionLink("Eliminar", "Delete", new {  nombre=item.nombre })
        </td>
    </tr>
}

</table>
